header {
    margin-bottom: 99px ;
}

.title {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
}

.back-button {
    cursor: pointer;
    font-family: Zona Pro;
    font-size: 28px;
    color: #8A8A8F;

    margin: 7px 0 40px 118px;
}

.project-card {
    box-sizing: border-box;
    min-width: 529px;
    height: 649px;
    
    border-radius: 30px;
    backdrop-filter: blur(2px);

    padding: 29px 27px 29px 27px;
    cursor: pointer;
}

.project-card:nth-child(3n+1) {
    background-color: #CBF6C7;
}

.project-card:nth-child(3n+2) {
    background-color: #F0BCFA;
}

.project-card:nth-child(3n+3) {
    background-color: #ADB8F0;
}

.title-card {
    font-size: 42px;
    font-weight: 600;
    display: block;
    margin: 0;
    padding: 0;

    word-wrap: break-word;

    margin-bottom: 33px;
}

.card-info {
    padding: 0 13px 0 13px;
}

.card-label {
    color: #5F5F66;
    display: block;
    font-size: 20px;
    margin-bottom: 7px;
}

.card-text {
    font-size: 28px;
    margin-bottom: 20px;
}

.select-button {
    display: flex;
    justify-content: flex-end;

    position: absolute;
    bottom: 29px;
    right: 40px;
}

.card-description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    margin-top: 95px;
}


/* карусель */

.catalog {
    position: relative;
}

.catalog-container {
    display: flex;
    gap: 40px;
    margin: 0 118px;
    box-sizing: border-box;

    overflow-x: auto;
    scroll-behavior: smooth;
}

.catalog-container::-webkit-scrollbar {
    display: none;
}

.nxt-btn,
.pre-btn {
    position: absolute;
    top: 298px;
    z-index: 2;
}

.pre-btn {
    left: 50px;
}

.nxt-btn {
    right: 50px;
    transform: rotate(180deg);
}


.more {
    margin-top: 44px;
    display: flex;
    gap: 11px;
    justify-content: center;
}

.more-cycle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: #ADB8F0;
}

.more-cycle__active {
    background: #F0BCFA;
}