header {
    margin-bottom: 99px;
}

main {
    margin: 0 79px 0 149px;
}

.block-hero {
    display: flex;
    justify-content: space-between;
}

.welcome-text {
    font-size: 40px;
    margin-top: 34px;
}

.motivation-text {
    display: inline-block;
    background-image: url(../img/green-main-label-bg.png);
    background-repeat: no-repeat;
    padding: 17px 19px 12px 17px;
    margin-bottom: 45px;
}

.title {
    font-size: 64px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}

.tutorial .title {
    margin-bottom: 58px;
}

.faq .title {
    margin-bottom: 48px;
}

.proj-description {
    max-width: 850px;
}

/* слайдер */
.prev, .next {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 16px;
    height: 32px;
    border: none;
    background-color: transparent;
    background-image: url(../img/arrow-main-page.svg);
    background-size:contain;
    background-repeat: no-repeat;
}

.next {
    transform: rotate(180deg);
}

.prev.disabled, 
.next.disabled {
    opacity: .25;
    pointer-events: none;
}

.slider-block{
    width: 672px;
    height: 624px;
    user-select: none;
    touch-action: pan-y;
}

.slider-block img {
    pointer-events: none;
}

.slider-list {
    width: 672px;
    height: 624px;
    overflow: hidden;
    border-radius: 50px;
}

.slider-list.grab {
    cursor: grab;
}

.slider-list.grabbing {
    cursor: grabbing;
}

.slider-track {
    display: flex;
}

.slider-item {
    width: 672px;
    height: 624px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
}

.slider-arrows {
    margin-top: 24px;
    display: flex;
    gap: 190px;
    align-items: center;
    justify-content: center;
}


.tutorial {
    margin-top: 75px;
    margin-bottom: 75px;
}

.tutorial video {
    border-radius: 50px;
}

.questions-list {
    font-size: 40px;
}

.question-item {
    width: 1125px;

    border-bottom: 1px solid black;
    padding-bottom: 26px;
    margin-top: 19px;
}

.question-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.question {
    width: 951px;
}

.answer {
    padding: 32px 67px 0 37px;
    color: rgba(27, 27, 37, 0.75);
    font-size: 32px;
}

footer {
    margin-top: 83px;
}